.input-group > input {
  width: fit-content;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group > label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 0.5px;
}

.input-group > label > span:nth-child(2) {
  color: rgb(210, 21, 21);
}

.input-group > input:focus {
  box-shadow: 0 0 2px 1px #0d5588;
    border-color: #1183d6;
    outline: none;
}
